<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--    生产环境配置-->
    <environments default="development">
        <!--设置的开发环境-->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3307/javassm"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <!--设置返回类的别名-->
    <typeAliases>
        <typeAlias type="only_mybatis.entity.Student" alias="student">
    </typeAliases>

<!--    为mapper类的xml指定路径，mybatis的全部配置信息都要放在这里-->
    <mappers>
        <mapper url="file:C:\develop_learning\JAVA\javassm\src\main\resources\Mapper\StudentMapper.xml"/>
    </mappers>
</configuration>

